@import './variables';

.slick-slide {
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;

  > div > div {
    &:focus {
      outline: none !important;
    }
  }
}

.slick-slide img {
  margin-left: auto;
  margin-right: auto;
}

.slick-dots li button {
  border-radius: 0 !important;
  width: 40px !important;
  height: 4px !important;
}

.slick-dots.dots-white li button::before {
  color: $white-color !important;
}
