@import '../../../../assets/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../../../../node_modules/bootstrap/scss/mixins/grid';

.clients {
  position: relative;
  background-color: $primary-color;
  color: $white-color;
  padding: 120px 0;

  h3,
  h4 {
    color: $white-color;
  }

  &__section-triangle {
    background-color: $white-color;

    &::before {
      content: '';
      height: 100px;
      left: 50%;
      pointer-events: none;
      position: absolute;
      transform: translateX(-50%) rotate(45deg);
      width: 100px;
      z-index: 10;
      background-color: inherit;
      top: -100px;
    }
  }

  &__experience-with {
    @include make-col-ready();

    @include media-breakpoint-up(lg) {
      @include make-col(3);
    }
  }

  &__companies {
    @include make-col-ready();

    @include media-breakpoint-up(lg) {
      @include make-col(9);
    }
  }

  &__company-logo {
    width: 160px;
    height: 160px;
  }
}
