@import '../variables';

@mixin nav {
  @media (min-width: 768px) {
    float: right !important;
    margin: 0;
    margin-right: -15px;
    padding-left: 0;
    list-style: none;
  }

  li {
    position: relative;
    display: block;

    @media (min-width: 768px) {
      float: left;
    }

    a {
      color: $white-color;
      font-family: $body-font-family;
      font-size: 12px;
      font-weight: 700;
      line-height: 20px;
      position: relative;
      display: block;
      padding: 10px 15px;

      &:hover {
        background: none;
        outline: 0;
        color: $secondary-color;
      }

      @media (min-width: 768px) {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}
