@mixin section {
  position: relative;
  padding: 120px 0;

  @include media-breakpoint-down(md) {
    padding: 80px 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }

  h4 {
    margin-bottom: 60px;
  }
}
