@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins/button';
@import '~bootstrap/scss/mixins/breakpoints';

.back-to-top {
  @include button;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50px;
  right: 50px;
  z-index: $z-index-backtotop;
  width: 50px;
  height: 50px;
  border-radius: 35px;
  padding: 0;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 1px 1px 5px rgba(107, 107, 107, 0.7);

  @include media-breakpoint-down(sm) {
    display: none;
  }

  &:hover {
    i {
      top: -5px;
    }
  }

  i {
    position: relative;
    top: 0;
    transition: all 0.3s ease;
  }

  &__shown {
    opacity: 1;
  }
}
