@import '../../../../assets/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../../../../node_modules/bootstrap/scss/mixins/grid';
@import '../../../../assets/scss/mixins/button';
@import '../../../../assets/scss/mixins/section';

.portfolio {
  @include section;

  &__worked-on {
    @include make-col-ready();

    @include media-breakpoint-up(lg) {
      @include make-col(3);
    }
  }

  &__sites {
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(9);
    }

    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__site-wrapper {
    @include make-col-ready();
    @include make-col(12);
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(xl) {
      @include make-col(6);
    }
  }

  &__site {
    text-align: center;

    &__image-wrapper {
      position: relative;
    }

    &__info-box {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      cursor: pointer;
      transition: opacity 0.3s;

      @include media-breakpoint-up(lg) {
        &:hover {
          opacity: 1;
        }
      }
    }

    &__info {
      color: $white-color;
      z-index: 1;
      position: absolute;
      top: 20%;
      bottom: 20%;
      left: 10%;
      right: 10%;
      display: flex;
      flex-flow: row;
      justify-content: space-between;

      img {
        width: 80px;
      }
    }

    &__info-right {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-left: 15px;

      > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
      }

      a {
        text-transform: none;

        i {
          margin-right: 5px;
        }
      }
    }

    &__overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: black;
      opacity: 0.75;
    }

    &__thumb {
      width: 100%;
      box-shadow: 1px 1px 5px rgba(107, 107, 107, 0.7);
    }

    &__button {
      @include button-sm;
    }

    &__link {
      color: $secondary-color;
      font-weight: $font-weight-bold;

      &:hover {
        color: $white-color;
      }
    }
  }
}
