@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins/placeholder';

$suggestions-border-radius: 3px;

.skills-finder {
  background-color: $primary-color;
  color: $white-color;
  padding: 120px 0;
  text-align: center;

  h2,
  h3,
  h4 {
    color: $white-color;
  }

  &__search-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }

  &__search-input-wrapper {
    width: 400px;
    position: relative;
  }

  &__search-input {
    @include placeholder {
      font-style: italic;
      color: white;
      font-weight: 100;
    }

    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom, 50% calc(100% - 1px);
    background-color: transparent;
    background-image: linear-gradient($secondary-color, $secondary-color),
      linear-gradient($white-color, $white-color) !important;
    color: $white-color;
    border: 0;
    transition: background 0s ease-out;
    padding-top: 2px;
    padding-bottom: 4px;
    display: block;
    width: 100%;
    font-family: $title-font-family;
    font-size: 15px;

    &:focus {
      outline: none;
      background-size: 100% 2px, 100% 1px;
      box-shadow: none;
      transition-duration: 0.3s;
    }
  }

  &__search-suggestions {
    position: absolute;
    list-style: none;
    width: 100%;
    background-color: rgba($white-color, 0.8);
    color: $primary-color;
    font-weight: $font-weight-bold;
    margin: 0;
    padding: 0;
    border-bottom-left-radius: $suggestions-border-radius;
    border-bottom-right-radius: $suggestions-border-radius;
  }

  &__search-suggestion {
    width: 100%;

    > a {
      width: 100%;
      display: block;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: left;

      &:hover {
        background-color: $secondary-color;
        color: $primary-color;
      }
    }

    &:last-of-type {
      border-bottom-left-radius: $suggestions-border-radius;
      border-bottom-right-radius: $suggestions-border-radius;

      > a {
        border-bottom-left-radius: $suggestions-border-radius;
        border-bottom-right-radius: $suggestions-border-radius;
      }
    }
  }

  &__suggestion-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  &__selected-skill {
    padding: 40px;
    margin-top: 60px;
    background-color: $white-color;
    color: $primary-color;
    border-radius: $suggestions-border-radius;
  }
}
